{% extends "base.html" %} {% block title %}Customer Inputs{% endblock %} {% block content
  %}
  <form method="POST">
    <h3 align="center">Location data</h3>
    <div class="form-group">
      <label for="Location">Location</label>
      <input
        type="Location"
        class="form-control"
        id="Location"
        name="Location"
        placeholder="Enter the city"
      />
    </div>
    <div class="form-group">
      <label for="Area">Area</label>
      <input
        type="Area"
        class="form-control"
        id="Area"
        name="Area"
        placeholder="Enter the area of the site"
      />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">B2C Customer inputs</button>
  </form>
  {% endblock %}
  